* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pricedown", sans-serif;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

@font-face {
  font-family: "Pricedown";
  src: url("../fonts/Coolvetica/Coolvetica Rg.otf") format("opentype");
}
@font-face {
  font-family: "designer";
  src: url("../fonts/designer/DESIGNER.otf") format("opentype");
}
li {
  list-style: none;
  padding: 10px 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "designer", sans-serifF;
}

a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.3s ease;
}

body {
  background-color: #f2ecdc;
  overflow-x: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.header-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header__title {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .header__title {
    width: 100%;
  }
}

.navBar {
  position: relative;
  width: 80%;
}

.nav__items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .nav__items {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    z-index: 5;
    padding: 4rem 0 1rem 0;
    background-color: #0e3e24;
    height: 100vh;
    width: 200px;
    top: -3.2rem;
    right: 0;
    transform: translate(1332px, 0);
    transition: all 0.1s ease;
  }
}

@media screen and (max-width: 768px) {
  .showNavBar {
    transform: translate(32px, 0);
  }
}

.nav__items li a {
  color: black;
}

.nav__items li,
.nav__submenu li {
  cursor: pointer;
  position: relative;
}
.nav__items li::before,
.nav__submenu li::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  transform: scaleX(0);
  border-bottom: 2px solid black;
  transform-origin: bottom right;
  transition: all 0.4s ease;
}
.nav__items li:hover::before,
.nav__submenu li:hover::before {
  transform: scaleX(1);
}

.item__title {
  font-size: 28px;
}

.nav__submenu {
  display: none;
  position: absolute;
  z-index: 2;
  width: 250px;
  background-color: #0e3e24;
  left: 0;
  top: 4rem;
  transition: all 0.3s ease;
  border-radius: 10px;
  padding: 1rem;
}
.nav__submenu li a {
  color: white;
}

.showNav {
  display: block;
}

.hamburger-menu__icons {
  cursor: pointer;
  display: none;
  position: absolute;
  top: -1rem;
  right: 0;
}
@media screen and (max-width: 768px) {
  .hamburger-menu__icons {
    display: block;
  }
}

.hamburger__icon {
  position: relative;
  z-index: 2;
}

.close__icon {
  display: none;
  position: relative;
  top: -3rem;
  z-index: 6;
}

.content-banner {
  width: 100vw;
  height: 84vh !important;
  overflow: hidden;
  position: relative;
}
.content-banner .swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: #f1356d;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 4;
  transition: all 0.3s ease;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #333;
}

.team-info {
  background-color: #0e3e24;
}

h2 {
  color: white;
  text-align: center;
  padding: 2rem 0;
  font-size: 32px;
}

.fancy-team__box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .fancy-team__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.team-card {
  position: relative;
  width: 25%;
  border: 1px solid black;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.3s ease;
}
.team-card img {
  scale: 1;
  overflow: hidden;
  transition: all 0.3s ease;
  height: 100%;
  object-fit: cover;
}
.team-card:hover {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5), inset 0 20px 20px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 768px) {
  .team-card {
    width: 100%;
  }
}

.screenlink {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  font-size: 0;
  cursor: pointer;
}

.card__info {
  position: absolute;
  z-index: 3;
  bottom: 1rem;
  color: white;
  text-align: center;
  width: 100%;
  opacity: 0.8;
}

.cta-block {
  background: url("../images/bgImg.jpg") no-repeat center center/cover;
}

.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: black;
  text-align: center;
  padding: 2rem 0;
}
@media screen and (max-width: 768px) {
  .cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.entry-content {
  font-size: 18px;
  line-height: 1.5;
  padding-bottom: 1rem;
}

.cta__description {
  width: 50%;
  margin: 0 auto;
  color: white;
}
@media screen and (max-width: 768px) {
  .cta__description {
    width: 80%;
  }
}

.buttons {
  cursor: pointer;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 50px;
  background-color: #f1356d;
  margin: 2rem 0 0;
  transition: all 0.3s ease;
}
.buttons:hover {
  background-color: #0e3e24;
  color: #0e3e24 !important;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: white;
}
.btn svg {
  margin-left: 0.5rem;
}
.btn:hover {
  color: #f1356d;
}

h3 {
  font-size: 24px;
  margin-bottom: 1rem;
}

.page-footer {
  background-color: #0e3e24;
  color: #f2ecdc;
}

.footer-cols {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-direction: row;
  padding: 2rem 0;
}
@media screen and (max-width: 768px) {
  .footer-cols {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.footer-col {
  min-height: 200px;
  padding-right: 1rem;
}
.footer-col:not(:last-of-type) {
  border-right: 2px solid #f2ecdc;
}
@media screen and (max-width: 768px) {
  .footer-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0;
    border-right: 2px solid transparent !important;
    width: 100%;
  }
  .footer-col:not(:last-of-type) {
    border-bottom: 2px solid #f2ecdc;
  }
}
.footer-col li {
  list-style-type: disc;
  transition: all 0.3s ease;
}
.footer-col li:hover {
  color: #f1356d;
}
.footer-col li a {
  width: 100%;
  color: #f2ecdc;
}
.footer-col li a:hover {
  color: #f1356d;
}

.newsletter__popUp {
  background-color: #6aa3b3 !important;
  padding: 2rem 0;
}

.newsletter-subscription__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
  padding: 0 0 0.5rem;
}

.newsletter-subscription__form label {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

.form-field__input input {
  width: 100%;
  height: 40px;
  padding: 0.5rem;
  background-color: #f2ecdc;
  font-family: "Roboto", sans-serif;
  border: 1px solid #333;
  border-radius: 25px;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.form-field__input input:focus {
  outline: none;
}

.submitBtn {
  width: 100%;
  font-size: 18px;
}

.team__popUp {
  cursor: pointer !important;
  flex-direction: row !important;
  height: 75vh;
}
.team__popUp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team__popUp h2 {
  color: black;
}
.team__popUp .social__links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  padding: 2rem 0;
  transition: all 0.3s ease;
}
.team__popUp .social__links a {
  color: black;
}
.team__popUp .social__links a:hover {
  color: #f1356d;
}

.team__desc {
  margin: auto 0 auto 2rem;
}

.featured-articles {
  padding: 2rem 0;
}
.featured-articles h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
  padding: 0 0 1rem;
}

.articles__wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
@media screen and (min-width: 700px) {
  .articles__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .articles__wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

.article-card {
  cursor: pointer;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  scale: 1;
  transition: all 0.3s ease;
}
.article-card figure {
  width: 100%;
  height: 200px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.article-card figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
.article-card:hover {
  scale: 1.01;
}

.article__description {
  padding: 1rem;
}
.article__description p {
  font-size: 1rem;
  color: #333;
  padding: 0.5rem 0;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

.accordion-block {
  background-color: #0f2e36;
}

.accordion__items {
  max-width: 860px;
  margin: 0 auto;
}

.accordion__item {
  cursor: pointer;
  border-bottom: 1px solid #f2ecdc;
  padding: 1rem 0;
  transition: all 0.3s ease;
  overflow: hidden;
}
.accordion__item h3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  color: #f2ecdc;
}

.accordion__content {
  max-height: 0px;
  padding-bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  color: #f2ecdc;
}

.active {
  max-height: 100px;
}

.accordion-btn {
  border: none;
  background-color: transparent;
  color: #f2ecdc;
  transform: rotate(0);
  transition: all 0.3s ease;
}

.clicked {
  transform: rotate(45deg);
}

.media-text__block {
  background: radial-gradient(black 3px, transparent 4px), radial-gradient(black 3px, transparent 4px), linear-gradient(#fff 4px, transparent 0), linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px), linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px), #fff;
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

.media-text__title {
  color: #0e3e24;
}

.media-text__item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
  max-width: 860px;
  margin: 0 auto 2rem;
  background-color: #0f2e36;
  color: white;
  border-radius: 15px;
  gap: 2rem;
  transition: all 0.3s ease;
}
.media-text__item figure {
  width: 350px;
  height: 200px;
  flex-shrink: 0;
}
.media-text__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .media-text__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
}
.media-text__item:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.media-text__description {
  text-align: justify;
}

/*# sourceMappingURL=style.css.map */
